* {
    box-sizing: border-box;
}

.catSlides {
    display: none;
}

body {
    background-color: #614304e0;
}

.sscontainer {
    width: 730px;
    height: 780px;
    position: relative;
    background-color: #e9967a;
    border: inset 8px #333230a4;
    margin: auto;
}

img {
    width: 550px;
    position: absolute;
    margin: 20px;
    border: inset #614304e0 8px;
}

#captiontextjiji {
    font-family: fantasy;
    text-align: center;
    position: absolute;
    max-width: min-content;
    max-height: min-content;
    color: #ffffff;
    font-size: 32px;
    font-weight: bold;
    margin-left: 86%;
    margin-top: 56%;
    text-shadow: 2px 2px 0 #614304e0, 2px -2px 0 #614304e0, -2px 2px 0 #614304e0, -2px -2px 0 #614304e0, 2px 0px 0 #614304e0, 0px 2px 0 #614304e0, -2px 0px 0 #614304e0, 0px -2px 0 #614304e0;
}

.captiontext {
    font-family: fantasy;
    text-align: center;
    max-width: min-content;
    max-height: min-content;
    position: absolute;
    color: #ffffff;
    font-size: 32px;
    font-weight: bold;
    margin-left: 84%;
    margin-top: 56%;
    text-shadow: 2px 2px 0 #614304e0, 2px -2px 0 #614304e0, -2px 2px 0 #614304e0, -2px -2px 0 #614304e0, 2px 0px 0 #614304e0, 0px 2px 0 #614304e0, -2px 0px 0 #614304e0, 0px -2px 0 #614304e0;
}

header {
    position: absolute;
    max-width: min-content;
    max-height: min-content;
}

.title {
    font-family: fantasy;
    font-size: 19px;
    text-align: center;
    position: absolute;
    color: #ffffff;
    font-weight: bold;
    margin-left: 80%;
    margin-top: 65%;
    text-shadow: 2px 2px 0 #614304e0, 2px -2px 0 #614304e0, -2px 2px 0 #614304e0, -2px -2px 0 #614304e0, 2px 0px 0 #614304e0, 0px 2px 0 #614304e0, -2px 0px 0 #614304e0, 0px -2px 0 #614304e0;
}

.numbertext {
    text-align: center;
    max-width: min-content;
    max-height: min-content;
    color: #ffffff;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 5px;
    margin-left: 86%;
    margin-top: 50%;
    position: absolute;
    font-family: fantasy;
    text-shadow: 2px 2px 0 #614304e0, 2px -2px 0 #614304e0, -2px 2px 0 #614304e0, -2px -2px 0 #614304e0, 2px 0px 0 #614304e0, 0px 2px 0 #614304e0, -2px 0px 0 #614304e0, 0px -2px 0 #614304e0;
}


/* button */

.button1 {
    position: absolute;
    max-width: min-content;
    max-height: min-content;
    margin-left: 84%;
    margin-top: 40%;
}

.button2 {
    position: absolute;
    max-width: min-content;
    max-height: min-content;
    margin-left: 84%;
    margin-top: 30%;
}

#pauseButton {
    position: absolute;
    border: solid #614304e0;
    color: #ffffff;
    font-size: 13px;
    line-height: 18px;
    padding: 8px;
    letter-spacing: 4px;
    font-family: fantasy;
    font-weight: bold;
    background-color: #6143049a;
    text-shadow: 2px 2px 0 #614304e0, 2px -2px 0 #614304e0, -2px 2px 0 #614304e0, -2px -2px 0 #614304e0, 2px 0px 0 #614304e0, 0px 2px 0 #614304e0, -2px 0px 0 #614304e0, 0px -2px 0 #614304e0;
}

#pauseButton:hover {
    background: #e9967a;
}

#pauseButton:active {
    background: #ffffff;
}

#startButton {
    position: absolute;
    border: solid #614304e0;
    color: #ffffff;
    font-size: 13px;
    line-height: 18px;
    padding: 8px;
    letter-spacing: 6px;
    font-family: fantasy;
    font-weight: bold;
    background-color: #6143049a;
    text-shadow: 2px 2px 0 #614304e0, 2px -2px 0 #614304e0, -2px 2px 0 #614304e0, -2px -2px 0 #614304e0, 2px 0px 0 #614304e0, 0px 2px 0 #614304e0, -2px 0px 0 #614304e0, 0px -2px 0 #614304e0;
}

#startButton:hover {
    background: #e9967a;
}

#startButton:active {
    background: #ffffff;
}


/* Fading Animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 5s;
    animation-name: fade;
    animation-duration: 5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: .4;
    }
    to {
        opacity: 1;
    }
}