/* Global CSS */

* {
    box-sizing: border-box;
}


/* Slides */

.oliverSlides {
    display: none;
}

.catSlides {
    display: none;
}


/* misc css */

body {
    background-color: #614304e0;
}

img {
    border: inset #614304e0 8px;
    max-width: 550px;
}


/*Cat Slideshow */

.ssContainer {
    position: absolute;
    left: 50%;
    margin-left: -375px;
    width: 750px;
    height: 850px;
    background-color: #e9967a;
    border: inset 8px #333230a4;
}

#slideContainer1 {
    position: absolute;
    top: 103px;
    left: 5px;
    z-index: 1;
    max-width: min-content;
    max-height: min-content;
}

#captiontextjiji {
    position: absolute;
    margin-left: 55%;
    margin-top: -40px;
    font-family: fantasy;
    text-align: center;
    max-width: min-content;
    max-height: min-content;
    color: #ffffff;
    font-size: 32px;
    font-weight: bold;
    text-shadow: 2px 2px 0 #614304e0, 2px -2px 0 #614304e0, -2px 2px 0 #614304e0, -2px -2px 0 #614304e0, 2px 0px 0 #614304e0, 0px 2px 0 #614304e0, -2px 0px 0 #614304e0, 0px -2px 0 #614304e0;
}

.captiontext {
    position: absolute;
    margin-left: 50%;
    margin-top: -40px;
    letter-spacing: 4px;
    font-family: fantasy;
    text-align: center;
    max-width: min-content;
    max-height: min-content;
    color: #ffffff;
    font-size: 32px;
    font-weight: bold;
    text-shadow: 2px 2px 0 #614304e0, 2px -2px 0 #614304e0, -2px 2px 0 #614304e0, -2px -2px 0 #614304e0, 2px 0px 0 #614304e0, 0px 2px 0 #614304e0, -2px 0px 0 #614304e0, 0px -2px 0 #614304e0;
}

.title {
    position: absolute;
    max-width: min-content;
    max-height: min-content;
    margin-left: 70px;
    margin-top: 3px;
}

.titleH {
    position: absolute;
    letter-spacing: 4px;
    font-family: fantasy;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    text-shadow: 2px 2px 0 #614304e0, 2px -2px 0 #614304e0, -2px 2px 0 #614304e0, -2px -2px 0 #614304e0, 2px 0px 0 #614304e0, 0px 2px 0 #614304e0, -2px 0px 0 #614304e0, 0px -2px 0 #614304e0;
}

.numbertext {
    margin-left: 55%;
    margin-top: -80px;
    position: absolute;
    text-align: center;
    max-width: min-content;
    max-height: min-content;
    color: #ffffff;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 5px;
    font-family: fantasy;
    text-shadow: 2px 2px 0 #614304e0, 2px -2px 0 #614304e0, -2px 2px 0 #614304e0, -2px -2px 0 #614304e0, 2px 0px 0 #614304e0, 0px 2px 0 #614304e0, -2px 0px 0 #614304e0, 0px -2px 0 #614304e0;
}


/* Oliver Slideshow */

#slideContainer2 {
    max-width: min-content;
    max-height: min-content;
    position: absolute;
    left: 31%;
    top: 118px;
    z-index: 1;
}

.oliverNumbers {
    margin-left: 55%;
    margin-top: -80px;
    position: absolute;
    text-align: center;
    max-width: min-content;
    max-height: min-content;
    color: #ffffff;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 5px;
    font-family: fantasy;
    text-shadow: 2px 2px 0 #614304e0, 2px -2px 0 #614304e0, -2px 2px 0 #614304e0, -2px -2px 0 #614304e0, 2px 0px 0 #614304e0, 0px 2px 0 #614304e0, -2px 0px 0 #614304e0, 0px -2px 0 #614304e0;
}

.oliverText {
    position: absolute;
    margin-left: 53%;
    margin-top: -40px;
    letter-spacing: 4px;
    font-family: fantasy;
    text-align: center;
    max-width: min-content;
    max-height: min-content;
    color: #ffffff;
    font-size: 32px;
    font-weight: bold;
    text-shadow: 2px 2px 0 #614304e0, 2px -2px 0 #614304e0, -2px 2px 0 #614304e0, -2px -2px 0 #614304e0, 2px 0px 0 #614304e0, 0px 2px 0 #614304e0, -2px 0px 0 #614304e0, 0px -2px 0 #614304e0;
}


/* Button Bar */

.buttonBar {
    max-width: min-content;
    max-height: min-content;
    margin-left: 76%;
    margin-top: 103px;
    display: block;
}


/* Pause Button */

#pauseButton {
    max-width: min-content;
    max-height: min-content;
    border: solid #614304e0;
    color: #ffffff;
    font-size: 16px;
    line-height: 18px;
    padding: 8px;
    letter-spacing: 4px;
    font-family: fantasy;
    font-weight: bold;
    background-color: #6143049a;
    text-shadow: 2px 2px 0 #614304e0, 2px -2px 0 #614304e0, -2px 2px 0 #614304e0, -2px -2px 0 #614304e0, 2px 0px 0 #614304e0, 0px 2px 0 #614304e0, -2px 0px 0 #614304e0, 0px -2px 0 #614304e0;
}

#pauseButton:hover {
    background: #e9967a;
}

#pauseButton:active {
    background: #ffffff;
}


/* Start Button */

#startButton {
    max-width: min-content;
    max-height: min-content;
    margin-top: 1px;
    border: solid #614304e0;
    color: #ffffff;
    font-size: 16px;
    line-height: 18px;
    padding: 8px;
    letter-spacing: 6px;
    font-family: fantasy;
    font-weight: bold;
    background-color: #6143049a;
    text-shadow: 2px 2px 0 #614304e0, 2px -2px 0 #614304e0, -2px 2px 0 #614304e0, -2px -2px 0 #614304e0, 2px 0px 0 #614304e0, 0px 2px 0 #614304e0, -2px 0px 0 #614304e0, 0px -2px 0 #614304e0;
}

#startButton:hover {
    background: #e9967a;
}

#startButton:active {
    background: #ffffff;
}


/* Change Button */

#changeButton {
    max-width: min-content;
    max-height: min-content;
    margin-top: 1px;
    border: solid #614304e0;
    color: #ffffff;
    font-size: 16px;
    line-height: 18px;
    padding: 8px;
    letter-spacing: 8px;
    font-family: fantasy;
    font-weight: bold;
    background-color: #6143049a;
    text-shadow: 2px 2px 0 #614304e0, 2px -2px 0 #614304e0, -2px 2px 0 #614304e0, -2px -2px 0 #614304e0, 2px 0px 0 #614304e0, 0px 2px 0 #614304e0, -2px 0px 0 #614304e0, 0px -2px 0 #614304e0;
}

#changeButton:hover {
    background: #e9967a;
}

#changeButton:active {
    background: #ffffff;
}


/* Fading Animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 4s;
    animation-name: fade;
    animation-duration: 4s;
}

@-webkit-keyframes fade {
    from {
        opacity: .2;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: .2;
    }

    to {
        opacity: 1;
    }
}